:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #6b6b6b;
    --botao-azul: #1115e2;
    --cor-de-fundo: #000000;
    --fonte-principal: 'Inter';
    --cor-2: #51e434;
    --cor-3: #fc0707;
    }
    body {
        background-color: var(--cor-de-fundo);
        color: var(--branco-principal);
        font-family: var(--fonte-principal);
        font-size: 16px;
        font-weight: 400;
        }

        * {
            margin: 0;
            padding: 0;
            }

            .principal {
                background-image: url("gatinho.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                align-items: center;
                }
                .container {
                    height: 100vh;
                    display:grid;
                    grid-template-columns: 50% 50%;
                    }
                    .container__botao {
                        background-color: transparent;
                        border-radius: 5px;
                        border: 2px solid var(--botao-azul);
                        padding: 1em;
                        color: var(--branco-principal);
                        display: block;
                        text-decoration: none;
                        }
                    .botao_secundario {
                        background-color: transparent;
                        border: 2px solid var(--cor-3)
                        }
                        .botao_teciario {
                            background-color: transparent;
                            border: 2px solid var(--cor-2);
                            }
                    .container__aviso {
                         font-size:12px;
                         color: var(--cinza-secundario);
                        }
                        .container__titulo {
                            font-size:28px;
                            font-weight: 700;
                            }